version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: maxiedu-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Olawale@13
      MYSQL_DATABASE: maxiedu
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    container_name: maxi-edu-api
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always
    env_file:
      - .env
    depends_on:
      - mysql


volumes:
  mysql_data: {}
